
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hi, How Are Youu</h1>
        Date Time =@DateTime.Now
        @{ 
            var a = 10;
            var b = 25;
            var res = a + b;
        }
    <p>The Result is @res</p>
    <p>your Email ID= moirfreedom@gmail.com</p>
    </div>
</body>
</html>
